<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ErrorPath" value="C:\\ErrorLog\\" />
    <!--<add key="ThisDealer" value="Epson" />-->
    <add key="ThisDealer" value="Digicars" />
    <add key="ThisDBPath" value="C:\\MM33\\micromanagement_be.mdb" />
    <add key="ThisDBProvider" value="Microsoft.ACE.OLEDB.12.0" />
    <!--<add key="ThisDealer" value="EpsonOlgars" />-->
  </appSettings>
  <connectionStrings>
    <add name="Olgarsconnection" connectionString="Data Source=127.0.0.1; Initial Catalog=digiweb; User ID=sa; Password='Idp2014';Max Pool Size=500;Connection Timeout=120" providerName="SqlServer" />
  </connectionStrings>
</configuration>